div{
    width: 750px;
    border: 1px solid black;
    margin: 10px auto;
}
h1{
    margin-top: 0;
    text-align: center;
}
h2{
    text-align: center;
}
h2 a:link, h2 a:visited{
    color: #E7458D;
    text-decoration: none;
}
h2 a:hover{
    text-decoration: underline;
    color: black;
}
a{
    color: green;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: red;
    text-decoration: underline;
}
p{
    font: 13px/27px  Arial; text-indent: 50px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.link{
    text-align: right;
    margin-right: 30px;
}
.link a:hover{
    padding: 5px 5px;
    background-color: #E7458D;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.link a{
    color: #E7458D;
}