#parent{
    width: 700px;
    margin: auto;
}
img{
    float: left;
    margin: 7px 10px 0px 0px;
    border: 1px solid black;
}
.child{
    border: 1px solid darkslategrey;
    margin-bottom: 20px;
    padding: 0 20px;
}
p{
    font: 13px/27px Arial;
    text-align: justify;
}
h1{
    font: bold 24px "Times New Roman";
}
.link{
    text-align: right;
    margin-bottom: 35px;
    margin-right: 20px;
}
a:link, a:visited{
    color: blue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}